{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset sent{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{user.username}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <div class="alert alert-success" role="alert">
        Your password change Request has been sent successfully to your mail.
    </div>
    
    <!-- Additional content -->
    <p>
        Thank you for using our services. If you have any further questions or need assistance, feel free to contact our support team.
    </p>
    

    <!-- Add forms or other elements as needed -->
  </div>
 </div>
</div>
{% endblock main-content %}
